@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



*{
    font-family:"Poppins", sans-serif;
}

@theme{
  --color-primary: #FC8A06;
  --color-secondary: #03081F;
  --color-tertiary: #028643;
}